<section id="user-profile-saved-courses" class="page-section">
    <div class="container">

        <div class="profile-sidebar">
            <div class="user-info">
                <div class="image-container">
                    <img src="/images/courses/user-profile-small.svg"></img>
                    <button class="btn-update-img"><i class="fa-solid fa-rotate"></i></button>
                </div>
                <h6>User name</h6>
                <p>email@domain.com</p>
            </div>

            <div class="btn-group">
                <a href="#" class="btn-theme-s"><i class="fa-solid fa-gear"></i>Account Details</a>
                <a href="#" class="btn-gray"><i class="fa-solid fa-lock"></i>Security</a>
                <a href="#" class="btn-gray"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
                <a href="#" class="btn-gray"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a>
            </div>

        </div>

        <div class="user-profile-saved-courses">
            <div class="heading-container">
                <h1>Security</h1>
                <button class="btn-theme"><i class="fa-solid fa-trash"></i>Delete</button>
            </div>

            <div class="grid-container">
                <!-- Dynamic -->
                <a href="#" class="grid-item">
                    <div class="item-image-container">
                        <div class="course-tag-box">Best Seller</div>
                        <img src="/images/courses/course-image1.svg"></img>
                        <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                    </div>
                    <div class="item-content">
                        <h6>Course Title</h6>
                        <small>Author</small>
                        <span>Price $</span>

                        <div class="content-meta">
                            <div class="meta-length">
                                <i class="fa-regular fa-clock"></i>
                                <small>Course length</small>
                            </div>
                            <div class="meta-likes">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <small>Likes</small>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="grid-item">
                    <div class="item-image-container">
                        <div class="course-tag-box">Best Seller</div>
                        <img src="/images/courses/course-image1.svg"></img>
                        <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                    </div>
                    <div class="item-content">
                        <h6>Course Title</h6>
                        <small>Author</small>
                        <span>Price $</span>

                        <div class="content-meta">
                            <div class="meta-length">
                                <i class="fa-regular fa-clock"></i>
                                <small>Course length</small>
                            </div>
                            <div class="meta-likes">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <small>Likes</small>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="grid-item">
                    <div class="item-image-container">
                        <div class="course-tag-box">Best Seller</div>
                        <img src="/images/courses/course-image1.svg"></img>
                        <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                    </div>
                    <div class="item-content">
                        <h6>Course Title</h6>
                        <small>Author</small>
                        <span>Price $</span>

                        <div class="content-meta">
                            <div class="meta-length">
                                <i class="fa-regular fa-clock"></i>
                                <small>Course length</small>
                            </div>
                            <div class="meta-likes">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <small>Likes</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
