<section id="user-profile" class="page-section">
    <div class="container">

        <div class="profile-sidebar">
            <div class="user-info">
                <div class="image-container">
                    <img src="/images/courses/user-profile-small.svg"></img>
                    <button class="btn-update-img"><i class="fa-solid fa-rotate"></i></button>
                </div>
                <h6>User name</h6>
                <p>email@domain.com</p>
            </div>

            <div class="btn-group">
                <a href="#" class="btn-theme-s"><i class="fa-solid fa-gear"></i>Account Details</a>
                <a href="#" class="btn-gray"><i class="fa-solid fa-lock"></i>Security</a>
                <a href="#" class="btn-gray"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
                <a href="#" class="btn-gray"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a>
            </div>

        </div>

        <div class="account-details-container">
            <h1>Account Details</h1>
            <h5>Basic info</h5>

            <form class="form-basic-info">
                <div class="firstname-group">
                    <label>First name</label>
                    <input type="text" placeholder="First name"></input>
                </div>
                <div class="lastname-group">
                    <label>Last name</label>
                    <input type="text" placeholder="Last name"></input>
                </div>
                <div class="email-group ">
                    <label>Email address</label>
                    <input type="email" placeholder="email@domain.com"></input>
                </div>
                <div class="phone-group">
                    <label>Phone</label>
                    <input type="text" placeholder="+4671234567"></input>
                </div>
                <div class="bio-group">
                    <label>Bio <span>(optional)</span></label>
                    <textarea placeholder="Add a short bio"></textarea>
                </div>

                <div class="btn-group">
                    <button class="btn-gray">Cancel</button>
                    <button class="btn-theme">Save changes</button>
                </div>
            </form>

            <h5 class="address-heading">Address info</h5>

            <form class="form-address-info">
                <div class="address1-group">
                    <label>Address line 1</label>
                    <input type="text" placeholder="First name"></input>
                </div>
                <div class="address2-group">
                    <label>Address line 2 <span>(optional)</span></label>
                    <input type="text" placeholder="Last name"></input>
                </div>
                <div class="postal-group ">
                    <label>Postal code</label>
                    <input type="email" placeholder="email@domain.com"></input>
                </div>
                <div class="city-group">
                    <label>City</label>
                    <input type="text" placeholder="Add a short bio"></input>
                </div>

                <div class="btn-group">
                    <button class="btn-gray">Cancel</button>
                    <button class="btn-theme">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</section>