@{
    ViewData["Title"] = "Sign Up";
}

@await Html.PartialAsync("~/Views/Shared/Components/_MobileNavPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_HeaderPartial.cshtml")

<main>
    @await Html.PartialAsync("~/Views/Shared/Sections/Authentication/_SignUpPartial.cshtml")
</main>

@await Html.PartialAsync("~/Views/Shared/Components/_FooterPartial.cshtml")