@model AccountViewModel
@{
    ViewData["Title"] = Model.User.FirstName + " " + Model.User.LastName;
}

@await Html.PartialAsync("~/Views/Shared/Components/_MobileNavPartial.cshtml", Model.User)
@await Html.PartialAsync("~/Views/Shared/Components/_HeaderPartial.cshtml")

<main>
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountSavedItemsPartial.cshtml", Model.User)
</main>

@await Html.PartialAsync("~/Views/Shared/Components/_FooterPartial.cshtml")
