@model AccountViewModel
<section id="user-profile" class="page-section">
    <div class="container">

        @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountMenuPartial.cshtml", Model, ViewData)

        <div class="account-details-container">
            <h1>Account Details</h1>
            <h5>Basic info</h5>

            <form asp-controller="Account" asp-action="AccountDetails" class="form-basic-info" method="post" novalidate>
                <div class="firstname-group">
                    <label asp-for="AccountDetails.BasicInfoForm.FirstName"></label>
                    <input asp-for="AccountDetails.BasicInfoForm.FirstName">
                    <span asp-validation-for="AccountDetails.BasicInfoForm.FirstName"></span>
                </div>
                <div class="lastname-group">
                    <label asp-for="AccountDetails.BasicInfoForm.LastName"></label>
                    <input asp-for="AccountDetails.BasicInfoForm.LastName">
                    <span asp-validation-for="AccountDetails.BasicInfoForm.LastName"></span>
                </div>
                <div class="email-group ">
                    <label asp-for="AccountDetails.BasicInfoForm.Email"></label>
                    <input asp-for="AccountDetails.BasicInfoForm.Email">
                    <span asp-validation-for="AccountDetails.BasicInfoForm.Email"></span>
                </div>
                <div class="phone-group">
                    <label asp-for="AccountDetails.BasicInfoForm.PhoneNumber"></label>
                    <input asp-for="AccountDetails.BasicInfoForm.PhoneNumber">
                    <span asp-validation-for="AccountDetails.BasicInfoForm.PhoneNumber"></span>
                </div>
                <div class="bio-group">
                    <label asp-for="AccountDetails.BasicInfoForm.Bio"></label>
                    <textarea asp-for="AccountDetails.BasicInfoForm.Bio" placeholder="Add a short bio"></textarea>
                    <span asp-validation-for="AccountDetails.BasicInfoForm.Bio"></span>
                </div>
                <div class="btn-group">
                    <button class="btn-gray">Cancel</button>
                    <button class="btn-theme">Save changes</button>
                </div>
            </form>

            <h5 class="address-heading">Address info</h5>

            <form class="form-address-info">
                <div class="address1-group">
                    <label>Address line 1</label>
                    <input type="text" placeholder="First name"></input>
                </div>
                <div class="address2-group">
                    <label>Address line 2 <span>(optional)</span></label>
                    <input type="text" placeholder="Last name"></input>
                </div>
                <div class="postal-group ">
                    <label>Postal code</label>
                    <input type="email" placeholder="email@domain.com"></input>
                </div>
                <div class="city-group">
                    <label>City</label>
                    <input type="text" placeholder="Add a short bio"></input>
                </div>

                <div class="btn-group">
                    <button class="btn-gray">Cancel</button>
                    <button class="btn-theme">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</section>