<section id="user-profile-security" class="page-section">
    <div class="container">

        <div class="profile-sidebar">
            <div class="user-info">
                <div class="image-container">
                    <img src="/images/courses/user-profile-small.svg"></img>
                    <button class="btn-update-img"><i class="fa-solid fa-rotate"></i></button>
                </div>
                <h6>User name</h6>
                <p>email@domain.com</p>
            </div>

            <div class="btn-group">
                <a asp-action="AccountDetails" asp-controller="Account" class="btn-gray"><i class="fa-solid fa-gear"></i>Account Details</a>
                <a asp-action="AccountSecurity" asp-controller="Account" class="btn-theme-s"><i class="fa-solid fa-lock"></i>Security</a>
                <a asp-action="AccountSavedItems" asp-controller="Account" class="btn-gray"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
                <a asp-action="SignOut" asp-controller="Auth" class="btn-gray"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a>
            </div>

        </div>

        <div class="user-profile-security">
            <h1>Security</h1>
            <h5>Password</h5>

            <form class="form-security">
                <div class="current-password-group">
                    <label>Current password</label>
                    <input type="password" placeholder="* * * * * * * * *"></input>
                </div>
                <div class="new-password-group">
                    <label>New password</label>
                    <input type="password" placeholder="* * * * * * * * *"></input>
                </div>
                <div class="confirm-password-group">
                    <label>Confirm password</label>
                    <input type="password" placeholder="* * * * * * * * *"></input>
                </div>
                <div class="btn-group">
                    <button class="btn-gray">Cancel</button>
                    <button class="btn-theme">Save changes</button>
                </div>
            </form>

            <h5 class="delete-account-heading">Delete account</h5>

            <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and passwordn, and we'll send you a link to reactivate your account</p>

            <div class="checkbox-group">
                <label class="checkbox-container">
                    <input type="checkbox" id="delete-checkbox">
                    <span class="checkmark"></span>
                </label>
                <label for="delete-checkbox">Yes, I want to delete my account</label>
            </div>

            <button class="btn-danger">Delete</button>
        </div>
    </div>
</section>
