@{
    ViewData["Title"] = "Course";
}

@await Html.PartialAsync("~/Views/Shared/Components/_MobileNavPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_HeaderPartial.cshtml")

<main>
    @await Html.PartialAsync("~/Views/Shared/Sections/Courses/Course/_CourseShowcasePartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Sections/Courses/Course/_CourseDetailsPartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Sections/Courses/Course/_CourseDetailsListPartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Sections/Courses/Course/_CourseAuthorPartial.cshtml")
</main>

@await Html.PartialAsync("~/Views/Shared/Components/_FooterPartial.cshtml")