@{
    ViewData["Title"] = "Courses";
}

@await Html.PartialAsync("~/Views/Shared/Components/_MobileNavPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_HeaderPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_PageNavPartial.cshtml")

<main>
    @await Html.PartialAsync("~/Views/Shared/Sections/Courses/_CoursesPartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Sections/Courses/_CoursesCtaPartial.cshtml")
</main>

@await Html.PartialAsync("~/Views/Shared/Components/_FooterPartial.cshtml")