<section class="page-section" id="our-courses-section">
    <div class="container">
        <div class="heading-container">
            <h2>Courses</h2>
            <div class="action-buttons">
                <div class="category-dropdown">
                    <button class="dropbtn">
                        All Categories
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Category 1</a>
                        <a href="#">Category 2</a>
                        <a href="#">Category 3</a>
                    </div>
                </div>
                <div class="search-field">
                    <input type="text" placeholder="Search courses"></input>
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <!-- Dynamic -->
            <a class="grid-item" asp-controller="Courses" asp-action="CourseDetails">
                <div class="item-image-container">
                    <div class="course-tag-box">Best Seller</div>
                    <img src="/images/courses/course-image1.svg"></img>
                    <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="item-content">
                    <h6>Course Title</h6>
                    <small>Author</small>
                    <span>Price $</span>

                    <div class="content-meta">
                        <div class="meta-length">
                            <i class="fa-regular fa-clock"></i>
                            <small>Course length</small>
                        </div>
                        <div class="meta-likes">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <small>Likes</small>
                        </div>
                    </div>
                </div>
            </a>
            <a class="grid-item" href="#">
                <div class="item-image-container">
                    <div class="course-tag-box">Best Seller</div>
                    <img src="/images/courses/course-image1.svg"></img>
                    <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="item-content">
                    <h6>Course Title</h6>
                    <small>Author</small>
                    <span>Price $</span>

                    <div class="content-meta">
                        <div class="meta-length">
                            <i class="fa-regular fa-clock"></i>
                            <small>Course length</small>
                        </div>
                        <div class="meta-likes">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <small>Likes</small>
                        </div>
                    </div>
                </div>
            </a>
            <a class="grid-item" href="#">
                <div class="item-image-container">
                    <div class="course-tag-box">Best Seller</div>
                    <img src="/images/courses/course-image1.svg"></img>
                    <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="item-content">
                    <h6>Course Title</h6>
                    <small>Author</small>
                    <span>Price $</span>

                    <div class="content-meta">
                        <div class="meta-length">
                            <i class="fa-regular fa-clock"></i>
                            <small>Course length</small>
                        </div>
                        <div class="meta-likes">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <small>Likes</small>
                        </div>
                    </div>
                </div>
            </a>
            <a class="grid-item" href="#">
                <div class="item-image-container">
                    <div class="course-tag-box">Best Seller</div>
                    <img src="/images/courses/course-image1.svg"></img>
                    <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="item-content">
                    <h6>Course Title</h6>
                    <small>Author</small>
                    <span>Price $</span>

                    <div class="content-meta">
                        <div class="meta-length">
                            <i class="fa-regular fa-clock"></i>
                            <small>Course length</small>
                        </div>
                        <div class="meta-likes">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <small>Likes</small>
                        </div>
                    </div>
                </div>
            </a>
            <a class="grid-item" href="#">
                <div class="item-image-container">
                    <div class="course-tag-box">Best Seller</div>
                    <img src="/images/courses/course-image1.svg"></img>
                    <button class="course-save-button"><i class="fa-regular fa-bookmark"></i></button>
                </div>
                <div class="item-content">
                    <h6>Course Title</h6>
                    <small>Author</small>
                    <span>Price $</span>

                    <div class="content-meta">
                        <div class="meta-length">
                            <i class="fa-regular fa-clock"></i>
                            <small>Course length</small>
                        </div>
                        <div class="meta-likes">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <small>Likes</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="page-navigation">
            <div class="nav-controls">
                <a class="previous-page custom-arrow" href="#">
                    <i class="fa-solid fa-play"></i>
                </a>


                <div class="page-numbers">
                    <a href="#" class="page-number">1</a>
                    <a href="#" class="page-number">2</a>
                    <a href="#" class="page-number">3</a>
                    <a href="#" class="page-number">4</a>
                </div>

                <a class="next-page custom-arrow" href="#">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </div>
    </div>
</section>
