<section id="courses-cta" class="container">
    <div class="content">
        <p>Ready to get started?</p>
        <h2>Take Your <span>Skills</span> to the <br>Next Level</h2>
        <a href="#" class="btn-theme">Work with us</a>
    </div>
    <div class="img-container"></div>
</section>
