@{
    ViewData["Title"] = "Contact Us";
}

@await Html.PartialAsync("~/Views/Shared/Components/_MobileNavUserPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_HeaderUserPartial.cshtml")

<main>
    @await Html.PartialAsync("~/Views/Shared/Sections/User/_UserSavedItemsPartial.cshtml")
</main>

@await Html.PartialAsync("~/Views/Shared/Components/_FooterPartial.cshtml")