@inject SignInManager<ApplicationUser> _signInManager
<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"></a>

        <div id="menu">
            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index">Features</a>
                <a class="menu-link" asp-controller="Contact" asp-action="Contact">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label class="text-s">Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label class="text-s">Dark</label>
        </div>

        @if (_signInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" asp-action="AccountDetails" class="btn-user-profile">
                <!-- Dynamic -->
                <img src="/images/courses/user-profile-small.svg">
            </a>
        }
        else
        {
            <div class="account-buttons">
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Sign In</span>
                </a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme">
                    <i class="fa-regular fa-user"></i>
                    <span>Sign Up</span>
                </a>
            </div>
        }
        
        <div class="menu-bar-container btn-mobile" onclick="toggleNavBar()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>
