<header>
    <div class="container">
        <a id="logo" href="home.html"></a>

        <div id="menu">
            <nav>
                <a class="menu-link" href="/courses.html">Overview</a>
                <a class="menu-link" href="">Features</a>
                <a class="menu-link" href="/contact-us.html">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label class="text-s">Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label class="text-s">Dark</label>
        </div>

        <div class="account-buttons">
            <a href="/sign-in.html" class="btn-gray">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Sign In</span>
            </a>
            <a href="/sign-up.html" class="btn-theme">
                <i class="fa-regular fa-user"></i>
                <span>Sign Up</span>
            </a>
        </div>
        <div class="menu-bar-container btn-mobile">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>
