<header class="header-user">
    <div class="container">
        <a id="logo" href="home.html"><img src="/images/logo/Silicon Logotype - Light Mode.svg" alt=""></a>

        <div id="menu">
            <nav>
                <a class="menu-link" href="/courses.html">Overview</a>
                <a class="menu-link" href="">Features</a>
                <a class="menu-link" href="">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label class="text-s">Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label class="text-s">Dark</label>
        </div>

        <a href="/user-profile.html" class="btn-user-profile">
            <!-- Dynamic -->
            <img src="/images/courses/user-profile-small.svg"></img>
        </a>
    </div>
</header>
