<div class="mobile-nav-wrapper d-none">
    <div class="mobile-nav-backdrop"></div>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <a id="logo-mobile-nav" href="home.html"></a>
            <i class="fa-solid fa-x menuside-toggle" onclick="toggleNavBar()"></i>
        </div>
        <nav class="mobile-menu">
            <a class="menu-link" href="/courses.html">Overview</a>
            <a class="menu-link" href="">Features</a>
            <a class="menu-link" href="">Contact</a>
        </nav>

        <div class="btn-switch">
            <label class="text-s">Light</label>
            <label class="switch" for="mobile-switch-mode">
                <input type="checkbox" id="mobile-switch-mode">
                <span class="slider round"></span>
            </label>
            <label class="text-s">Dark</label>
        </div>

        <div class="mobile-account-buttons">
            <a href="/sign-in.html" class="btn-gray">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Sign In</span>
            </a>
            <a href="/sign-up.html" class="btn-theme">
                <i class="fa-regular fa-user"></i>
                <span>Sign Up</span>
            </a>
        </div>
    </div>
</div>