<div class="header-page-navigation container">
    <i class="fa-solid fa-house"></i>
    <!-- Dynamic -->
    <a href="#">Home</a>
    <i class="fa-solid fa-play"></i>
    <a href="#">Contact us</a>
</div>
