@model SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<section id="sign-in-page" class="page-section">
    <div class="container">
        <div class="content">
                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
                {
                    <div class="signInErrorBox d-none" id="signInErrorBox">@ViewData["ErrorMessage"]</div>
                }
                else
                {
                    <div class="signInErrorBox d-none" id="signInErrorBox">Incorrect email or password</div>
                }

            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>

            <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
                <label asp-for="Form.Email">Email</label>
                <input asp-for="Form.Email">
                <label asp-for="Form.Password">Password</label>
                <input asp-for="Form.Password">

                <div class="checkbox-group">
                    <label class="checkbox-container">
                        <input asp-for="Form.RememberMe" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label asp-for="Form.RememberMe">Remember me</label>
                </div>

                <button id="signInFormBtn" disabled type="submit" class="btn-disabled">Sign in</button>
            </form>
            <a href="#">Forgot your password?</a>

            <div class="third-party-login">
                <h6>Or sign in with your social network</h6>
                <div class="btn-group">
                    <a href="" class="btn-gray"><i class="fa-brands fa-google"></i>Google</a>
                    <a href="" class="btn-gray"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("_SignInValidationScriptPartial")