@model SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<section id="sign-up-page" class="page-section">
    <div class="container">
        <div class="content">
            <h1>Create Account</h1> 
            <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here.</a></p>

            <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
                <div class="input-group-group">
                    <div class="input-group">
                        <label asp-for="Form.FirstName">First name</label>
                        <input asp-for="Form.FirstName"></input>
                        <span asp-validation-for="Form.FirstName"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="Form.LastName">Last name</label>
                        <input asp-for="Form.LastName"></input>
                        <span asp-validation-for="Form.LastName"></span>
                    </div>
                </div>
                <div class="input-group">
                    <label asp-for="Form.Email">Email address</label>
                    <input asp-for="Form.Email"></input>
                    <span asp-validation-for="Form.Email"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Form.Password">Password</label>
                    <input asp-for="Form.Password"></input>
                    <span asp-validation-for="Form.Password"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Form.PasswordConfirm">Confirm password</label>
                    <input asp-for="Form.PasswordConfirm"></input>
                    <span asp-validation-for="Form.PasswordConfirm"></span>
                </div>
                <div class="checkbox-group">

                    <label class="checkbox-container">
                        <input type="checkbox" asp-for="Form.TermsAndConditions">
                        <span class="checkmark"></span>
                    </label>
                    <label asp-for="Form.TermsAndConditions">I agree to the <a href="#">Terms & Conditions.</a></label>
                </div>
                <span class="checkbox-validation-message" asp-validation-for="Form.TermsAndConditions"></span>

                <button type="submit" id="signUpFormBtn" disabled class="btn-disabled">Sign up</button>
            </form>
        </div>
    </div>
</section>
@await Html.PartialAsync("_ValidationScriptPartial")