<section id="sign-up-page" class="page-section">
    <div class="container">
        <div class="content">
            <h1>Create Account</h1>
            <p>Already have an account? <a href="/sign-in.html">Sign in here.</a></p>

            <form>
                <div class="input-group">
                    <div class="firstname">
                        <label>First name</label>
                        <input type="text" placeholder="Enter your first name"></input>
                    </div>
                    <div class="lastname">
                        <label>Last name</label>
                        <input type="text" placeholder="Enter your last name"></input>
                    </div>
                </div>
                <label>Email address</label>
                <input type="email" placeholder="Enter your email address"></input>
                <label>Password</label>
                <input type="password" placeholder="* * * * * * * * *"></input>
                <label>Confirm password</label>
                <input type="password" placeholder="* * * * * * * * *"></input>

                <label class="checkbox-container">
                    <input type="checkbox">
                    <label>I agree to the <a href="#">Terms & Conditions.</a></label>
                </label>

                <button class="btn-theme-s">Sign up</button>
            </form>
        </div>
    </div>
</section>