<section id="sign-in-page" class="page-section">
    <div class="container">
        <div class="content">
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>

            <form>
                <label>Email</label>
                <input type="email" placeholder="Enter your email address"></input>
                <label>Password</label>
                <input type="password" placeholder="* * * * * * * * *"></input>

                <div class="checkbox-group">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label>Remember me</label>
                </div>

                <button class="btn-theme-s">Sign in</button>
            </form>
            <a href="#">Forgot your password?</a>

            <div class="third-party-login">
                <h6>Or sign in with your social network</h6>
                <div class="btn-group">
                    <a href="" class="btn-gray"><i class="fa-brands fa-google"></i>Google</a>
                    <a href="" class="btn-gray"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                </div>
            </div>
        </div>
    </div>
</section>
