@{
    ViewData["Title"] = "Error";
}

@await Html.PartialAsync("~/Views/Shared/Components/_MobileNavPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_HeaderPartial.cshtml")

<main>
    @await Html.PartialAsync("~/Views/Shared/Components/_404Partial.cshtml")
</main>

@await Html.PartialAsync("~/Views/Shared/Components/_FooterPartial.cshtml")



