/*.header-user {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";
        gap: 40px;

        @include md {
            grid-template-columns: 1fr auto auto;
            grid-template-areas: "logo switch mobile";
        }

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            display: block;
            grid-area: logo;
            background-image: var(--main-logo);
            background-repeat: no-repeat;
            background-position-y: center;
            background-size: fill;
            background-color: var(--main-bg-clr);
            min-width: 125px;
            min-height: 60px;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;
            display: none;

            label {
                margin: 0 3px;
            }

            @include md {
                display: block;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @include lg {
                display: none;
            }

            i {
                font-size: 18pt;
                color: var(--main-title-clr);
            }
        }

        .btn-user-container {
            position: relative;

            .btn-user-profile {
                display: none;
                grid-area: mobile;
                border-radius: 50%;
                background-size: cover;


                @include lg {
                    display: flex;
                    grid-area: buttons;
                }

                img {
                    height: auto;
                    width: 100%;
                }
            }
            .btn-user-dropdown {
                display: none;
            }

            &:hover .btn-user-dropdown {
                position: absolute;
                display: block;
                top: 0;

            }
        }
    }
}
*/