#courses-cta {
    .content {
        
        h2 {
            margin: 1rem 0;
            span {
                color: $theme;
                font-weight: bold;
            }
        }
        a {
            margin-bottom: 1rem;
        }
    }

    .img-container {
        background-image: var(--main-illustration-img);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        height: 25rem;

        @include sm {
            height: 20rem;
            background-position: center;
        }

        @include md {
            height: 30rem;
            width: 60%;
            background-position: right;
        }

        @include lg {
            height: 25rem;
            width: 50%;
        }
    }

    @include md {
        margin-top: 1rem;
        padding: 2rem 2rem;
        background-color: var(--main-bg-clr-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
    
        .content {
            display: flex;
            flex-direction: column;
    
            p {
                font-size: 25;
            }
    
            h2 {
                margin: 2rem 0;
                
                span {
                    color: $theme;
                }
            }
        }
        img {
            margin-right: -100px;
        }
    }

    @include xl {
        margin-top: 1rem;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .content {
            display: flex;
            flex-direction: column;
    
            p {
                font-size: 25;
            }
    
            h2 {
                margin: 2rem 0;
                
                span {
                    color: $theme;
                }
            }
        }
    }
    
}