.header-page-navigation {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 20px;

    nav {
        ol {
            li {
                #houseIcon {
                    margin-right: 0.5rem;
                }

                .current-page-link {
                    color: $theme !important;
                }
            }
        }
    }

    a {
        color: var(--main-text-clr);
    }
}
