#lightdark {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    #lightdark-background {
        height: 100%;
        width: 100vw;
        display: flex;

        #darkbox {
            height: 30rem;
            width: 50%;
            background-color: $gray-900;

            @include sm {
                height: 35rem;
    
            }
            @include md {
                height: 40rem;
    
            }
            @include lg {
                height: 50rem;
            }
        }
        #lightbox {
            height: 100%;
            width: 50%;
            background-color: white;
        }
    }

    #lightdark-computer {
        position: absolute;
        z-index: 1;
        scale: 0.2;
        top: -3rem;

        @include sm {
            scale: 0.4;
            top: 1.5rem;
        }
        @include md {
            scale: 0.6;
            top: 4rem;
        }
        @include lg {
            scale: 0.7;
            top: 6rem;
        }
    }
    

    #lightdark-text {
        margin-top: 6rem;
        position: absolute;
        text-align: center;
        display: flex;

        #darkbox-text {
            margin-right: 0rem;

            @include sm {
                margin-right: 2rem;
            }
            h2 {
                color: white;
            }
        }
        #lightbox-text {
            margin-left: 0rem;

            @include sm {
                margin-left: 2rem;
            }
            h2 {
                color: black;
            }
        }
    }
}