<section id="start-signup" class="page-section">
    <div class="container">
        <div class="content">
            <div class="heading-box">
                <h2>Don't Want to Miss Anything?</h2>
                <img src="~/images/signup_arrows.svg">
            </div>

            <div class="grid-container">
                <h6 class="grid-item">Sign up for <br>Newsletters</h6>
                <div class="grid-item">
                    <label class="checkbox-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <label>Daily Newsletter</label>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <label>Event Updates</label>
                    </label>
                </div>
                <div class="grid-item">
                    <label class="checkbox-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <label>Advertising Updates</label>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <label>Startups Weekly</label>
                    </label>
                </div>
                <div class="grid-item">
                    <label class="checkbox-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <label>Week in Review</label>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                        <label>Podcasts</label>
                    </label>
                </div>
            </div>

            <div class="input-container">
                <div class="input-email-container">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" class="input-email" placeholder="Your Email"></input>
                </div>
                <button class="btn-theme">Subscribe*</button>
            </div>
            <p>* Yes, I agree to the <a href="#">terms</a>, and <a href="#">privacy policy</a></p>
        </div>
    </div>
</section>
