<section id="start-signup" class="page-section">
    <div class="container">
        <div class="content">
            <div class="heading-box">
                <h2>Don't Want to Miss Anything?</h2>
                <img src="~/images/signup_arrows.svg">
            </div>

            <div class="grid-container">
                <h6 class="grid-item">Sign up for <br>Newsletters</h6>
                <div class="grid-item">
                    <label class="checkbox-container">
                        <input class="checkbox-input" type="checkbox" checked="checked" id="daily-newsletter">
                        <span class="checkmark"></span>
                        <label for="daily-newsletter">Daily Newsletter</label>
                    </label>
                    <label class="checkbox-container">
                        <input class="checkbox-input" type="checkbox" checked="checked" id="event-updates">
                        <span class="checkmark"></span>
                        <label for="event-updates">Event Updates</label>
                    </label>
                </div>
                <div class="grid-item">
                    <label class="checkbox-container">
                        <input class="checkbox-input" type="checkbox" checked="checked" id="advertising-updates">
                        <span class="checkmark"></span>
                        <label for="advertising-updates">Advertising Updates</label>
                    </label>
                    <label class="checkbox-container">
                        <input class="checkbox-input" type="checkbox" checked="checked" id="startups-weekly">
                        <span class="checkmark"></span>
                        <label for="startups-weekly">Startups Weekly</label>
                    </label>
                </div>
                <div class="grid-item">
                    <label class="checkbox-container">
                        <input class="checkbox-input" type="checkbox" checked="checked" id="week-in-review">
                        <span class="checkmark"></span>
                        <label for="week-in-review">Week in Review</label>
                    </label>
                    <label class="checkbox-container">
                        <input class="checkbox-input" type="checkbox" checked="checked" id="podcasts">
                        <span class="checkmark"></span>
                        <label for="podcasts">Podcasts</label>
                    </label>
                </div>
            </div>

            <div class="input-container">
                <div class="input-email-container">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" class="input-email" placeholder="Your Email"></input>
                </div>
                <button class="btn-theme">Subscribe*</button>
            </div>
            <p>* Yes, I agree to the <a href="#">terms</a>, and <a href="#">privacy policy</a></p>
        </div>
    </div>
</section>
