<section class="page-section" id="manage-your-work">
    <div class="container">
        <div class="scene">
            <div class="cube">
                <div class="face front"><img src="~/images/manage-img.svg"></div>
                <div class="face right"><img src="~/images/manage-img.svg"></div>
                <div class="face left"> <img src="~/images/manage-img.svg"></div>
                <div class="face back"> <img src="~/images/manage-img.svg"></div>
            </div>
        </div>
        <img src="/images/manage-img.svg" id="dashboard-image">

        <div class="content">
            <h2>Manage Your Work</h2>
            <div id="checkbox-list">
                <div class="checkbox-list-item">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Powerful project management</p>
                </div>
                <div class="checkbox-list-item">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Transparent work management</p>
                </div>
                <div class="checkbox-list-item">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Manage work & focus on the most important tasks</p>
                </div>
                <div class="checkbox-list-item">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Track your progress with interactive charts</p>
                </div>
                <div class="checkbox-list-item">
                    <i class="fa-regular fa-square-check"></i>
                    <p>Easiest way to track time spent on tasks</p>
                </div>
            </div>
            <a href="#" class="btn-theme">Learn more<i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>
