<section id="lightdark">
    <div id="lightdark-background">
        <div id="darkbox"></div>
        <div id="lightbox"></div>
    </div>
    <div id="lightdark-text">
        <span id="darkbox-text">
            <h2>Switch Between</h2>
        </span>
        <span id="lightbox-text">
            <h2>Dark & Light Mode</h2>
        </span>
    </div>
    <img id="lightdark-computer" src="~/images/lightdark/lightdark_mockup.svg">
</section>