@model LightDarkModel

<section id="lightdark">
    <div id="lightdark-background">
        <div id="darkbox"></div>
    </div>
    <div id="lightdark-text">
        <div id="darkbox-text">
            <h2>@Model.HeadingWhite</h2>
        </div>
        <div id="lightbox-text">
            <h2>@Model.HeadingBlack</h2>
        </div>
    </div>
    <img id="lightdark-computer" src="@Model.Image.Source" alt="@Model.Image.Alt">
</section>