<section id="tool-integrations" class="page-section">
    <div class="container">
        <h2>Integrate Top Work Tools</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae fermentum est. Nullam
            molestie ex velit, eget pellentesque diam suscipit eget. Integer quis fringilla dui. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis sed fermentum enim.
        </p>

        <div class="grid-container">
            <div class="grid-item">
                <img src="~/images/integrations/integrations_google.svg">
                <p>Lorem magnis pretium sed crabutir nunc facilsi nunc cursus sagittis blandit jussto</p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_zoom.svg">
                <p>In eget a mausris quis. Tortor dui temoys quis integer est sit natoque placerat </p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_slack.svg">
                <p>Id mollis consectetur congue egestas egesats suspenduesse blandit jussto</p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_gmail.svg">
                <p>Rutrum interdu, tortor sed at nulla. A cursus bibendum elit purus cras praesent</p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_trello.svg">
                <p>Id mollis consectetur congue egestas egesats suspenduesse blandit jussto</p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_mailchimp.svg">
                <p>Lorem magnis pretium sed crabutir nunc facilsi nunc cursus sagittis</p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_dropbox.svg">
                <p>In eget a mausris quis. Tortor dui temoys quis integer est sit natoque placerat </p>
            </div>
            <div class="grid-item">
                <img src="~/images/integrations/integrations_evernote.svg">
                <p>Id mollis consectetur congue egestas egesats suspenduesse blandit jussto</p>
            </div>
        </div>
    </div>
</section>