@model AppModel

<section class="page-section" id="download-our-app">
    <div class="container">
        <img src="@Model.Image.Source" id="app-screens" alt="@Model.Image.Alt">

        <div class="content">
            <h2>@Model.Heading</h2>

            <div class="app-review-container">
                <div class="review-box">
                    <p>App Store</p>

                    <div class="star-container">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <h5>Editor's Choice</h5>

                    <span>rating 4.7, 187k+ Reviews</span>
                </div>
                <div class="review-logo-box appstore">
                    <a href=""></a>
                </div>
            </div>
            <div class="app-review-container">
                <div class="review-box">
                    <p>Google Play</p>

                    <div class="star-container">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <h5>App of the Day</h5>

                    <span>rating 4.8, 30k+ Reviews</span>
                </div>
                <div class="review-logo-box googleplay">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
</section>