<section class="author-info">
    <div class="container">
        <div class="author-bg-container">
            <img src="/images/courses/author-bg-pattern.png"></img>
        </div>
        <div class="author-img-container">
            <img src="/images/courses/author-img.png"></img>
        </div>
        <div class="author-info-box">
            <div class="text-box">
                <span>Learn from the best</span>
                <h4>Albert Flores</h4>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="socials-box">
                    <a href="#" class="author-youtube"><i class="fa-brands fa-youtube"></i>240k subscribers</a>
                    <a href="#" class="author-facebook"><i class="fa-brands fa-square-facebook"></i>180k followers</a>
                </div>
            </div>
        </div>
    </div>
</section>