<section class="course-details-overview page-section">
    <div class="container">
        <div class="flex-container">
            <div class="course-overview">
                <div class="flex-item heading-box">
                    <h2>Course Description</h2>
                    <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                </div>
                <div class="grid-item secondary-heading-box">
                    <h3>What you'll learn</h3>
                    <div class="list-box">
                        <div class="list-item">
                            <i class="fa-regular fa-square-check"></i>
                            <p>Sed lectus donec amet eu turpis interdum.</p>
                        </div>
                        <div class="list-item">
                            <i class="fa-regular fa-square-check"></i>
                            <p>Nulla at consectetur vitae dignissim porttitor.</p>
                        </div>
                        <div class="list-item">
                            <i class="fa-regular fa-square-check"></i>
                            <p>Phasellus id vitae dui aliquet mi.</p>
                        </div>
                        <div class="list-item">
                            <i class="fa-regular fa-square-check"></i>
                            <p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                        </div>
                        <div class="list-item">
                            <i class="fa-regular fa-square-check"></i>
                            <p>In aenean dolor diam tortor orci eu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item course-price-box">
                <h5>This course includes: </h5>
                <div class="price-list-box">
                    <div class="price-list-item">
                        <i class="fa-solid fa-computer"></i>
                        <p>148 hours on-demand video</p>
                    </div>
                    <div class="price-list-item">
                        <i class="fa-regular fa-file"></i>
                        <p>18 articles</p>
                    </div>
                    <div class="price-list-item">
                        <i class="fa-solid fa-download"></i>
                        <p>25 downloadable resources</p>
                    </div>
                    <div class="price-list-item">
                        <i class="fa-solid fa-infinity"></i>
                        <p>Full lifetime access</p>
                    </div>
                    <div class="price-list-item">
                        <i class="fa-solid fa-award"></i>
                        <p>Certificate of completion</p>
                    </div>
                </div>
                <div class="price-box">
                    <strong class="course-price-current">$28.99</strong>
                    <small class="course-price-actual">$49.00</small>
                </div>
                <a href="#" class="btn-theme">Join course</a>
            </div>
        </div>
    </div>
</section>
