<footer>
    <div class="container">
        <div class="socials-grid">
            <a href="#" class="grid-item">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#" class="grid-item">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="grid-item">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="grid-item">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
        <p>© 2024 Silicon. All rights reserved. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos totam assumenda eveniet enim expedita autem est neque hic. Culpa ducimus qui voluptatem quos. Dolorum quos, delectus quas.</p>
    </div>
</footer>